In [41]:
import pandas as pd 
import re 
import os
from google import genai
from openai import OpenAI
from dotenv import load_dotenv 
load_dotenv()

True

# Reading the tabular data

In [13]:
doctors=pd.read_excel('doctors.xlsx')

In [14]:
doctors

   Sl No Category                  Name    Speciality Hospital
0      1   Doctor        Dr A K Bardhan    Cardiology   Apollo
1      2   Doctor         Dr Abheek Kar  Pediatritian   Apollo
2      3   Doctor  Dr Abhijit Taraphder    Orthopedic   Apollo
3      4   Doctor        Dr Abhik Ghosh    Onkologist   Apollo
4      5   Doctor        Dr Abrar Ahmed  Gynacologist   Apollo

In [15]:
hospitals=pd.read_excel('hospital.xlsx')

In [16]:
hospitals

   Sl No  Category                Name Location Best Treatment
0      1  Hospital              Apollo  Kolkata     Orthopedic
1      2  Hospital               Ilead    Surat       Onkology
2      3  Hospital        ILS Hospital    Delhi     Gynacology
3      4  Hospital             R G Kar   Mumbai     Cardiology
4      5  Hospital  Rabindranath Tagor     Pune   Pediatritian

# Gemini Model

In [28]:
def get_answer_from_gemini(prompt):
    ''' 
    function to call gemini api to get answer
    '''
    gemini_key=os.getenv('GEMINI_API')
    client = genai.Client(api_key=gemini_key)
    response = client.models.generate_content(
    model="gemini-2.0-flash", contents=prompt)
    return response.text

In [30]:
prompt=""
with open('gemini_prompt.txt') as f:
    prompt=f.read()

In [31]:
hospitals_dict=hospitals.to_dict(orient='records')
doctors_dict=doctors.to_dict(orient='records')

In [32]:
prompt1=f"""{prompt}\n HOSPITALS:{hospitals_dict} \n DOCTORS:{doctors_dict}"""

In [33]:
question='Suggest me an onkologist,along with the hospital'

In [34]:
total_prompt=f"""{prompt1} QUESTION:{question}"""
answer=get_answer_from_gemini(total_prompt)
print(answer)

Dr Abhik Ghosh,Speciality:Onkologist,Hospital:Apollo

In [35]:
question='Who is the president of USA?'
total_prompt=f"""{prompt1} QUESTION:{question}"""
answer=get_answer_from_gemini(total_prompt)
print(answer)

I dont know

In [36]:
question='Best hospital for ortho?'
total_prompt=f"""{prompt1} QUESTION:{question}"""
answer=get_answer_from_gemini(total_prompt)
print(answer)

Apollo in Kolkata.

In [39]:
question='hospital for gyno problems,and a doctor'
total_prompt=f"""{prompt1} QUESTION:{question}"""
answer=get_answer_from_gemini(total_prompt)
print(answer)

The ILS Hospital in Delhi offers the best treatment in Gynacology. Dr Abrar Ahmed is a Gynacologist who practices at Apollo Hospital.

In [38]:
question='doctors available in apollo'
total_prompt=f"""{prompt1} QUESTION:{question}"""
answer=get_answer_from_gemini(total_prompt)
print(answer)

Dr A K Bardhan, Dr Abheek Kar, Dr Abhijit Taraphder, Dr Abhik Ghosh, and Dr Abrar Ahmed.

In [42]:
question='what can be done to stop corruption?'
total_prompt=f"""{prompt1} QUESTION:{question}"""
answer=get_answer_from_gemini(total_prompt)
print(answer)

I dont know

# Deepseek

In [48]:
DEEPSEEK_API=os.getenv('DEEPSEEK_API')

In [62]:
def get_answer_from_deepseek(role,prompt):
    client = OpenAI(base_url="https://openrouter.ai/api/v1",api_key=DEEPSEEK_API)
    completion = client.chat.completions.create(model="deepseek/deepseek-r1:free",messages=[{"role": role,"content": prompt}])
    return completion.choices[0].message.content

In [63]:
deepseek_role=''
deepseek_prompt=''
with open('deepseek_role.txt') as f:
    deepseek_role=f.read()
with open('deepseek_prompt.txt') as f:
    deepseek_prompt=f.read()

In [64]:
deepseek_role

' You are an AI assisted customer assistant for a heathcare clinic that answers customer questions from two tables.\nThese 2 tables are DOCTORS and HOSPITALS.Your knowledge is limited to these 2 tables only.You have no access to outside information or internet.'

In [65]:
deepseek_prompt1=f"""{deepseek_prompt}\n HOSPITALS:{hospitals_dict} \n DOCTORS:{doctors_dict}"""

In [66]:
question='Give me info about hospital'
deepseek_total_prompt=f"""{deepseek_prompt1} QUESTION:{question}"""
answer=get_answer_from_deepseek(deepseek_role,deepseek_total_prompt)
print(answer)

In [67]:
question='Suggest me an onkologist,along with the hospital'
deepseek_total_prompt=f"""{deepseek_prompt1} QUESTION:{question}"""
answer=get_answer_from_deepseek(deepseek_role,deepseek_total_prompt)
print(answer)

In [68]:
question='doctors available in apollo'
deepseek_total_prompt=f"""{deepseek_prompt1} QUESTION:{question}"""
answer=get_answer_from_deepseek(deepseek_role,deepseek_total_prompt)
print(answer)

To create a lighthouse model using IR and a phototransistor where the lighthouse is stationary and the robot can determine its position by measuring light intensity, we start by understanding that light intensity decreases with the square of the distance from the source. This relationship can be modeled using the inverse square law.

### Key Steps:
1. **Intensity-Distance Relationship**: The light intensity \( I \) measured by the phototransistor is inversely proportional to the square of the distance \( d \) from the lighthouse. This is expressed as:
   \[
   I = \frac{k}{d^2}
   \]
   where \( k \) is a constant that includes factors like the power of the IR source and environmental conditions.

2. **Distance Calculation**: The robot can calculate its distance from the lighthouse using the measured intensity \( I \) and solving for \( d \):
   \[
   d = \sqrt{\frac{k}{I}}
   \]

3. **Position Determination**: Knowing the distance \( d \) from the lighthouse (which is at a known position), the robot lies on a circle of radius \( d \) centered at the lighthouse. If the robot has additional information such as direction (e.g., from a directional sensor or multiple measurements), it can triangulate its exact position. However, with a single lighthouse, the primary determination is the distance, which constrains the position to a circle.

### Final Answer
The lighthouse model can be represented by the equation where light intensity \( I \) decreases with the square of the distance \( d \) from the lighthouse: \boxed{I = \frac{k}{d^2}}. Here, \( k \) is a constant determined by the IR source's power and environmental factors, allowing the robot to calculate its distance \( d = \sqrt{\frac{k}{I}} \) and determine its position relative to the lighthouse.